.btn-submit{
 background-color: #480095; 
 color:white;
 border-radius: 5px;
 width:100px;
 height: 30px;
 cursor:pointer
}
.container-form{
 padding:30px 
}

.btn-submit-form{
 display:block; 
 text-align: center;
 margin-top: 30px;
 margin-bottom: 30px; 
}

.danger{
 color:red;
 position: relative;
 text-align: start;
}
.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  margin-top: 60px; 
}
 .form input{
  height:40px;
  width:100%;
  padding-left: 10px;
} 

.saludoForm{
 margin-top: 20px;
 padding-top: 40px; 
}

@media (min-width:601px) and (max-width:920px){

  .form{
    width:100%
  }
  .form input{
    height:30px;
    width:100%;
  }
  .saludoForm{
    margin-top: 70px;
    padding-top: 80px;
    font-size: 20px; 
  }
 }

 @media (max-width:600px){

   .form{
     display:block;
     width:100%
    } 
    .form input{
      display:flex;
      
      width:100%;
      height:30px;
      margin-top: 20px;
    }
    .saludoForm{
      margin-top: 70px;
      padding-top: 80px;
      font-size: 20px; 
    }
}

